body {
    background-color: linen; /* Changes the background color of the entire page */
}

h1 {
    color: maroon; /* Changes the color of all h1 headings */
    margin-left: 40px;
}

p {
    color: red; /* Changes the color of all paragraph text */
}
